<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Caudex|Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/blog.css">
    <title>Django Girls Tutorial-style Blog</title>
  </head>
  <body>
    <header>
      <span class="topRow">
        <h1 class="headerItem">Kristopher's blog</h1>
        <a href="{% url 'post_new' %}" class="top-menu">+</a>        
      </span>
      <h4 class="headerItem note">I made this based on these <a href="https://tutorial.djangogirls.org/en/" target="blank">instructions</a></h4>
    </header>
    <div class="body posts">
      {% block content %}
      {% endblock %}
    </div>
    <footer>
      <p>See more from Kristopher Skelton at <a href="kmskelton.com">KMSkelton.com</a> and <a href="https://github.com/KMSkelton">github</a>.</p>
      <p>For professional contact, send an invitation at <a href="https://www.linkedin.com/in/kristopherskelton/">LinkedIn</a> and let me know you found me because of my blog.</p>
      <p class="backHome">I want to go <a href="http://kmskelton.pythonanywhere.com/">home</a>.</p>
    </footer>
  </body>
</html>
