<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Cormorant|Caudex" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/blog.css">
    <title>Django Girls Tutorial-style Blog</title>
  </head>
  <body>
    <header>
      <h1 class="headerItem">Kristopher's blog</h1>
      <h4 class="headerItem note">I made this based on these <a href="https://tutorial.djangogirls.org/en/" target="blank">instructions</a></h4>      
    </header>
  {% for post in posts %}
    <div class="body posts">
      <p class="pubDate">Published: {{ post.published_date }}</p>
      <p class="postTitle">{{ post.title }}</p>
      <p>{{ post.text|linebreaksbr }}</p>
    </div>
  {% endfor %}
  </body>
</html>
